<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/generic.css') }}"
    />

    <title>সর্বশেষ খবর​</title>
  </head>
  <body>
    <h1>সর্বশেষ খবর​</h1>
    <h6>বাংলাদেশ | প্রথম আলো</h6>
    <hr>
    {% for news in news_list %}
    <h4>{{news.title}}</h4>
    <h6>{{news.time_ago}}</h6>
    <p>{{news.summary}} <a href="{{news.link}}">আরো</a></p>
    <hr>
    {% endfor %}
  </body>
</html>
