<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="Zy4A1HXpeIGu1CRBZzOxhLix8HO5svgF9XDPs5IO2V4"
    />
    <meta
      name="keywords"
      content="News, news, news bangladesh, newsbd, bdnews, bangladesh news, সর্বশেষ খবর​, খবর​, সর্বশেষ, বাংলাদেশ"
    />

    <meta
      name="description"
      content="Latest news of Bangladesh. বাংলাদেশের​ সর্বশেষ খবর​।"
    />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/generic.css') }}"
    />

    <title>বাংলাদেশের​ সর্বশেষ খবর​ - Latest news of Bangladesh</title>
  </head>
  <body>
    <h1>সর্বশেষ খবর​</h1>
    <h6>
      <a href="/">সব</a> | <a href="/bangladesh">বাংলাদেশ</a> (সূত্র: প্রথম আলো)
    </h6>
    <hr />
    {% for news in news_list %}
    <h4>{{ news.title }}</h4>
    <h6>{{ news.time_ago }}</h6>
    <p>{{ news.summary }} <a href="{{ news.link }}">বিস্তারিত</a></p>
    <hr />
    {% endfor %}
  </body>
</html>
