<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="Zy4A1HXpeIGu1CRBZzOxhLix8HO5svgF9XDPs5IO2V4"
    />
    <meta name="apple-mobile-web-app-title" content="সর্বশেষ খবর" />
    <meta name="application-name" content="সর্বশেষ খবর" />

    <meta
      property="og:title"
      content="খবর, সর্বশেষ খবর, বাংলাদেশের সর্বশেষ খবর | News, Latest News, Latest news of Bangladesh - News13"
    />
    <meta property="og:url" content="https://news13.herokuapp.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="bn-BD" />
    <meta property="og:site_name" content="News13" />
    <meta
      property="og:description"
      content="বাংলাদেশের সর্বশেষ খবর। Latest news of Bangladesh."
    />

    <meta
      name="keywords"
      content="news, news bangladesh, newsbd, bdnews, news bd, bd news, bangladesh news, online news, bangla news, latest news, current news, latest bangla news, latest bangladesh news, bangla latest news, online bangla news, latest bd news, bd latest news, সর্বশেষ খবর​, খবর​, সর্বশেষ, বাংলাদেশ"
    />

    <meta
      name="description"
      content="বাংলাদেশের সর্বশেষ খবর। Latest news of Bangladesh."
    />

    <link rel="canonical" href="https://news13.herokuapp.com/">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-169357219-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-169357219-1");
    </script>

    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/generic.css') }}"
    />

    <title>
      খবর, সর্বশেষ খবর, বাংলাদেশের সর্বশেষ খবর | News, Latest News, Latest news
      of Bangladesh - News13
    </title>
  </head>
  <body>
    <h1>সর্বশেষ খবর​</h1>
    <h6>
      <a href="/">সব</a> (সূত্র: প্রথম আলো)
      <!-- | <a href="/bangladesh">বাংলাদেশ</a> -->
    </h6>
    <hr />
    {% for news in data.news %}
    <h4>{{ news.title }}</h4>
    <h6>{{ news.time_ago }}</h6>
    <p>{{ news.summary }} <a href="{{ news.link }}">বিস্তারিত</a></p>
    <hr />
    {% endfor %}
  </body>
</html>
